<!DOCTYPE html>
<html ng-app="diaryApp">
<head>
	<title>Diary Test</title>
	<!-- LU:Libraries -->
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-storage/dist/angular-storage.js"></script>
	<script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
	<script src="../bower_components/angular-jwt/dist/angular-jwt.js"></script>

	<!-- LU:Javascript -->
	<script src="../src/js/app.js"></script>


	<link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css">
</head>
<body ng-controller='diaryCtrl'>
	<h1>Freelance Diary</h1>
	<h4>{{desc}}</h4>
	<table ng-if='response'>
		<tr>
			<td><h2>Response</h2></td>
		</tr>
		<tr>
			<td>Client ID:</td>
			<td>{{response.clientId}}</td>
		</tr>		
		<tr>
			<td>Device Name:</td>
			<td>{{response.deviceName}}</td>
		</tr>		
		<tr>
			<td>Device UUID:</td>
			<td>{{response.deviceUUID}}</td>
		</tr>
		<tr>
			<td>Access Token:</td>
			<td>{{response.accessToken}}</td>
		</tr>	
		<tr>
			<td>Refreh Token:</td>
			<td>{{response.refreshToken}}</td>
		</tr>	
		<tr>
			<td>Token Issued At:</td>
			<td>{{response.tokenIssuedAt}}</td>
		</tr>
		<tr>
			<td>Created:</td>
			<td>{{response.created}}</td>
		</tr>
		<tr>
			<td>Token Expiration Time:</td>
			<td>{{response.tokenExpirationTime}}</td>
		</tr>	
		<tr>
			<td>JWT Token</td>
			<td>{{response.jwtToken}}</td>
		</tr>
		<!-- <tr> -->
		<!-- 	<td colspan="2">
				<button ng-click="validedToken()">Valided Token</button>
			</td> -->
		<!-- </tr> -->
	</table>
	<div ng-if="status">
		<p style='color:red'>{{error}}</p>
		<h2 style='color:blue'>Status: {{status}} {{statusText}}</h2>
	</div>
	<button ng-click="authenticate(false)">Authenticate</button>
	<button ng-click="validedToken(false)">Valided Token</button>
	<button ng-click="authenticate(true)">Refresh Credentials</button>
</body>
</html>